In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
pip install gender_guesser

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gender_guesser
  Downloading gender_guesser-0.4.0-py2.py3-none-any.whl (379 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 379.3/379.3 KB 7.8 MB/s eta 0:00:00
Installing collected packages: gender_guesser
Successfully installed gender_guesser-0.4.0

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/CAPSTONE WORK/data_male_female.csv')

In [ ]:
data.head(3)

,article:ID,author:string[],ee:string[],journal:string,key:string,mdate:date,pages:string,title:string,url:string[],volume:string,year:int,gender_list,female_count,mostly_female_count,andy_count,mostly_male_count,male_count,unknown_count
0,4006114,Fatih Gelgi|Hasan Davulcu|Srinivas Vadrevu,https://doi.org/10.1007/s11280-007-0021-1,World Wide Web,conf/www/VadrevuGD07,2017-05-23,157-179,Information Extraction from Web Pages Using Pr...,db/journals/www/www10.html#VadrevuGD07,NaN,2007.0,"['male', 'male', 'male']",0,0,0,0,3,0
1,4008602,Anne H. H. Ngu|Erich J. Neuhold|Masaru Kitsure...,https://doi.org/10.1007/s11280-007-0023-z,World Wide Web,conf/www/NguKN07,2017-05-23,111-112,Editorial.,db/journals/www/www10.html#NguKN07,NaN,2007.0,"['female', 'male', 'male']",1,0,0,0,2,0
2,4009567,Anis Charfi|Mira Mezini,https://doi.org/10.1007/s11280-006-0016-3,World Wide Web,conf/www/CharfiM07,2017-05-23,309-344,AO4BPEL: An Aspect-oriented Extension to BPEL.,db/journals/www/www10.html#CharfiM07,NaN,2007.0,"['male', 'female']",1,0,0,0,1,0

In [ ]:
import gender_guesser.detector as gender
d = gender.Detector(case_sensitive=False)

name_list = []
article_id_list = []
date_list = []

for i in range(0, len(data)):
    full_names = str(data['author:string[]'].iloc[i]).split('|')
    for name in full_names:
        first_name = str(name).split(" ")[0]
        if d.get_gender(first_name) == 'male':
          name_list.append(name)
          article_id_list.append(data['article:ID'].iloc[i])
          date_list.append(data['mdate:date'].iloc[i])

KeyboardInterrupt: ignored

In [ ]:
len(name_list), len(article_id_list), len(date_list)

In [ ]:
namedatearticle = pd.DataFrame(list(zip(name_list, article_id_list, date_list)),
               columns =['Name', 'Article_ID', 'Date'])

In [ ]:
namedatearticle

In [ ]:
namedatearticle.to_csv('/content/drive/MyDrive/CAPSTONE WORK/career_length_male.csv')

NameError: ignored

Above was getting the male dataset ready for career length analysis, below is conducting the career length work

In [ ]:
malecareerlength = pd.read_csv('/content/drive/MyDrive/CAPSTONE WORK/career_length_male.csv')

In [ ]:
malecareerlength.head(3)

   Unnamed: 0              Name  Article_ID        Date
0           0       Fatih Gelgi     4006114  2017-05-23
1           1     Hasan Davulcu     4006114  2017-05-23
2           2  Srinivas Vadrevu     4006114  2017-05-23

In [ ]:
malecareerlength = malecareerlength[malecareerlength['Name'].duplicated(keep=False) == True]

In [ ]:
malecareerlength

         Unnamed: 0                 Name  Article_ID        Date
1                 1        Hasan Davulcu     4006114  2017-05-23
3                 3     Erich J. Neuhold     4008602  2017-05-23
4                 4   Masaru Kitsuregawa     4008602  2017-05-23
5                 5          Anis Charfi     4009567  2017-05-23
6                 6     Andrzej Cichocki     4010659  2020-10-25
...             ...                  ...         ...         ...
2389244     2389244      Mark F. Hornick     9651143  2019-10-25
2389245     2389245         Frank Manola     9651144  2019-10-25
2389246     2389246    Michael L. Brodie     9651146  2019-10-25
2389247     2389247  Michael Stonebraker     9651146  2019-10-25
2389248     2389248  Michael Stonebraker     9651148  2017-06-08

[2062201 rows x 4 columns]

In [ ]:
malecareerlength.sort_values('Name')

         Unnamed: 0                  Name  Article_ID        Date
347041       347041          Aad Correljé     7021149  2021-10-14
346723       346723          Aad Correljé     7020740  2023-01-15
1647815     1647815  Aad J. van der Steen     8651944  2020-09-29
1871283     1871283  Aad J. van der Steen     8948302  2020-03-02
1530899     1530899  Aad J. van der Steen     8496680  2020-02-22
...             ...                   ...         ...         ...
1893864     1893864        Ünal Çavusoglu     8979541  2022-06-13
2254546     2254546        Ünal Çavusoglu     9452691  2021-10-14
134485       134485        Ünal Çavusoglu     6739371  2022-01-03
399133       399133           Ünver Çinar     7084922  2020-02-21
401102       401102           Ünver Çinar     7087146  2020-02-21

[2062201 rows x 4 columns]

In [ ]:
malecareerlength = malecareerlength.drop('Unnamed: 0', axis=1)

In [ ]:
malecareerlength.head(1)

            Name  Article_ID        Date
1  Hasan Davulcu     4006114  2017-05-23

In [ ]:
malecareerlength.Date = pd.to_datetime(malecareerlength.Date)

In [ ]:
type(malecareerlength['Date'].iloc[1])

pandas._libs.tslibs.timestamps.Timestamp